In [1]:
import pandas as pd

In [10]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30])

In [4]:
pd.Series(['Navas','Mbappe','Neymar','Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [6]:
dict = {1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [12]:
psg_players[1]

'Navas'

In [13]:
psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'])

In [14]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [15]:
dict = {'Jugador':['Navas','Mbappe','Neymar','Messi'],
 'Altura':[183.0,170.0,170.0,165.0],
 'Goles':[2,200,200,200]
 }

In [19]:
df_psg = pd.DataFrame(dict,index=[1,7,10,30])

In [21]:
df_psg.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [22]:
df_psg.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [24]:
df_psg

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [25]:
granada = {
    'Jugador':['Luis Suarez','Jorge Molina', 'Antonio Puertas', 'German Sanchez', 'Luis Milla', 'Luis Manuel Arantes Maximiano'],
    'Posicion':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
    'Dorsal':[9, 23, 10, 6, 5, 1],
    'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
    'Goles':[7, 7, 5, 2, 2, 0]
}

In [28]:
pd.DataFrame(granada,index=granada['Dorsal'])

                          Jugador        Posicion  Dorsal  Altura  Goles
9                     Luis Suarez       Delantero       9   185.0      7
23                   Jorge Molina       Delantero      23   187.0      7
10                Antonio Puertas  Centrocampista      10   185.0      5
6                  German Sanchez         Defensa       6   187.0      2
5                      Luis Milla  Centrocampista       5   175.0      2
1   Luis Manuel Arantes Maximiano         Portero       1   190.0      0